flabert/ex-nr.json
[
    {
        "id": "20aaa0fdb606fefd",
        "type": "mqtt out",
        "z": "da1ed6e78cd94d72",
        "name": "flabert",
        "topic": "dazzler/flabert",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ceffecac398a1b53",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "a46b47118d0b08da",
        "type": "inject",
        "z": "da1ed6e78cd94d72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "other",
        "payloadType": "str",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "20aaa0fdb606fefd"
            ]
        ]
    },
    {
        "id": "102ee043acf5a91e",
        "type": "inject",
        "z": "da1ed6e78cd94d72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "matrix",
        "payloadType": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "20aaa0fdb606fefd"
            ]
        ]
    },
    {
        "id": "d58bc57a0b5b22b3",
        "type": "inject",
        "z": "da1ed6e78cd94d72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "train",
        "payloadType": "str",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "20aaa0fdb606fefd"
            ]
        ]
    },
    {
        "id": "0a0bbbe0e5ae91e7",
        "type": "inject",
        "z": "da1ed6e78cd94d72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "death",
        "payloadType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "20aaa0fdb606fefd"
            ]
        ]
    },
    {
        "id": "ceffecac398a1b53",
        "type": "mqtt-broker",
        "name": "HIVE",
        "broker": "10.47.11.165",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
